@keyframes snow {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(600px);
    }
  }
  @media (max-width: 768px) {
    .starposition1 { left: 10%; }
    .starposition2 { left: 20%; }
    .starposition3 { left: 40%; }
    .starposition4 { left: 50%; }
    .starposition5 { left: 70%; }
    .starposition6 { left: 85%; }
    .starposition7 { left: 60%; }

    @keyframes snow {
      0% {
        opacity: 0;
        transform: translateY(0px);
      }
  
      20% {
        opacity: 1;
      }
  
      100% {
        opacity: 1;
        transform: translateY(500px); /* menor en móviles */
      }
    }}
  
  
  @keyframes astronaut {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .boxofstar1,
  .boxofstar2,
  .boxofstar3,
  .boxofstar4 {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    transform: translateY(0px);
    height: 700px;
  }
  
  .boxofstar1 {
    animation: snow 7s linear infinite;
  }
  
  .boxofstar2 {
    animation: snow 7s -1.94s linear infinite;
  }
  
  .boxofstar3 {
    animation: snow 7s -3.30s linear infinite;
  }
  
  .boxofstar4 {
    animation: snow 7s -4.30s linear infinite;
  }
  
  .star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
  }
  
  .star:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 70px;
    opacity: .7;
  }
  
  .star:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 170px;
    opacity: .9;
  }
  
  .starposition1 {
    top: 30px;
    left: 5%;
  }
  
  .starposition2 {
    top: 110px;
    left: 15%;
  }
  
  .starposition3 {
    top: 60px;
    left: 35%;
  }
  
  .starposition4 {
    top: 120px;
    left: 45%;
  }
  
  .starposition5 {
    top: 20px;
    left: 65%;
  }
  
  .starposition6 {
    top: 90px;
    left: 85%;
  }
  
  .starposition7 {
    top: 30px;
    left: 75%;
  }
  
/* astronauta */


  .astronaut {
    width: 250px;
    height: 300px;
    position: absolute;
    z-index: 11;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
    animation: astronaut 105s linear infinite;
  }
  
  .schoolbag {
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    background-color: #94b7ca;
    border-radius: 50px 50px 0 0 / 30px 30px 0 0;
  }
  
  .head {
    width: 97px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
    border-radius: 50%;
    top: 34px;
    left: calc(50% - 47.5px);
  }
  
  .head:after {
    content: "";
    width: 60px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
    border-radius: 15px;
  }
  
  .head:before {
    content: "";
    width: 12px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: -4px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 92px 0px 0px #618095;
  }
  
  .body {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: #fffbff;
    border-radius: 40px / 20px;
    top: 105px;
    left: calc(50% - 41px);
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  }
  
  .panel {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    background-color: #b7cceb;
  }
  
  .panel:before {
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #fbfdfa;
    box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
  }
  
  .panel:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 14px 0px 2px #fbfdfa;
  }
  
  .arm {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 121px;
    z-index: 2;
  }
  
  .armleft {
    left: 30px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 39px;
  }
  
  .armright {
    right: 30px;
    background-color: #fbfdfa;
    border-radius: 0 0 39px 0;
  }
  
  .armleft:before,
  .armright:before {
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    top: -40px;
  }
  
  .armleft:before {
    border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
    left: 0;
    background-color: #e3e8eb;
  }
  
  .armright:before {
    border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
    right: 0;
    background-color: #fbfdfa;
  }
  
  .armleft:after,
  .armright:after {
    content: "";
    width: 30px;
    height: 10px;
    position: absolute;
    top: -24px;
  }
  
  .armleft:after {
    background-color: #6e91a4;
    left: 0;
  }
  
  .armright:after {
    right: 0;
    background-color: #b6d2e0;
  }
  
  .leg {
    width: 30px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 70px;
  }
  
  .legleft {
    left: 76px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
  }
  
  .legright {
    right: 73px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
  }
  
  .legleft:before,
  .legright:before {
    content: "";
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -26px;
  }
  
  .legleft:before {
    left: -20px;
    background-color: #e3e8eb;
    border-radius: 30px 0 0 0;
    border-bottom: 10px solid #6d96ac;
  }
  
  .legright:before {
    right: -20px;
    background-color: #fbfdfa;
    border-radius: 0 30px 0 0;
    border-bottom: 10px solid #b0cfe4;
  }

