.backg {
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 15%;
    width: 115vh;
    justify-content: center;
    z-index: 10;
  }
  
  .snt {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    color: white;
    font-weight: 800;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
  }
  
  .h3 {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    color: white;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
  }
  
  .ploploplo {
    font-family: 'Lobster', sans-serif;
    font-size: 1.2rem;
    color: white;
    z-index: 10;
    padding-right: 50%;
    margin-top: 0;
    position: relative;
  }
  
  /* 📱 Responsive para celular */
  @media (max-width: 988px) {
    .backg {
      padding-left: 6%;       /* Menos espacio a los lados */
      width: 100%;           /* Que ocupe toda la pantalla */
    }
  
    .snt {
      font-size: 2.5rem;      /* Reduce el tamaño del título */
      text-align: left;
    }
  
    .h3 {
      font-size: 1.3rem;
      text-align: left;
    }
  
    .ploploplo {
      font-size: 0.95rem;
      padding-right: 0;      /* Quita el padding lateral */
      text-align: left;
    }
  }
  

  .ryan{
    background: linear-gradient(90deg, #ff0000,#ff00f3,#0033ff,#ff00c4, #ff0000 );
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }