.backg {
    background: #111111;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

.snt {
    font-family: 'Lobster', sans-serif;
    font-size: 4rem;
    font-weight: 750; 
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 100%; 
}

.h3 {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    color: white;
    margin-top: 0; 
}


@media (max-width: 768px) {
  .backg{
    height: 100%; 
    text-align: center; 
    padding-bottom: 100px;
    padding-top: 100px;
  }
}