.backg {
    background: #111111;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    text-align: center; 
    margin:7rem ;
}
.backg1 {
    background: #111111;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    text-align: center; 
}
.snt {
    font-family: 'Lobster', sans-serif;
    font-size: 4rem;
    font-weight: 750; 
    color: white;
    text-align: center;
    width: 100%; 
}

.h3 {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    color: white;
    margin-top: 0; 
}


@media (max-width: 768px) {
  .backg{
    height: 100%; 
    text-align: center; 
    padding-bottom: 100px;
    padding-top: 100px;
    margin: auto 0 0 0;
  }
  .snt {
    margin:auto 0 0 0 ;
}
}