.background {
  display: flex;
  height: 100vh;
  background: #111;
  flex-wrap: wrap; /* Esto ayuda si en pantallas pequeñas quieres que se acomoden uno debajo del otro */
}

.leftSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  min-width: 300px; /* Añade un mínimo para evitar que colapse en pantallas pequeñas */
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: white;
  min-width: 300px;
}

  .gokuImage {
    position: relative;
    z-index: 9999;
    display: block;
    width: 60%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.8s ease;
  }

.gokuImage:hover{
  transform: scale(1.1);
}




  @media (max-width: 768px) {
    .leftSection {
      display: none; /* Oculta la sección izquierda en pantallas pequeñas */
    }
  
    .rightSection {
      flex: 1;
      padding: 1rem; /* Ajusta el padding para pantallas pequeñas */
    }
  }