.backg {
    background: #111;
    display: flex;
    justify-content: flex-end; /* La esfera estará a la derecha */
    align-items: center;
    height: 50vh;
    overflow: hidden;
    padding-left: 60vw; /* Ajusta la distancia del borde */
    padding-right: 10vw; /* Ajusta la distancia del borde */
            z-index: 10;
    position: relative;
}

.sphere {
    position: absolute;
    width: 120px;
    height: 120px;
    background: radial-gradient(circle at 30% 30%, #ffffff, #00aaff 60%, #004488);
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 170, 255, 0.8);
    z-index: 10;

}

